process {
    executor = 'local'
    cpus     = 4
    memory   = '8 GB'
    time     = '4h'
    containerOptions = '--platform linux/amd64'
}

params {
  database = "/db/Greengenes/gg_13_8_otus/gg13_8_classifier.qza"
}

docker {
    enabled = true
    runOptions = "--platform linux/amd64 -v /Users/khanlehoang/Documents/microbiome/nextflow/16S_metagenomic/db:/db"
}

withName:FASTQC {
    container = 'quay.io/biocontainers/fastqc:0.11.9--0'
}

withName:TRIMMOMATIC {
    container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
}

withName:DADA2 {
    container = 'quay.io/biocontainers/bioconductor-biomformat:2.10.0--r44hdfd78af_0'
}

withName:QIIME2 {
    container = 'quay.io/qiime2/amplicon:2025.7'
}
